Repository MatejKocourek/apt-fuzzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

task1-test:
  stage: test
  dependencies:
  - build-job
  script:
  - apt-get update -y && apt install -y make cmake g++ lcov git
  - git submodule update --init --recursive
  - cd code-coverage
  - make test
  coverage: '/lines......: (\d+\.\d+%)/'

task2-3-test:
  stage: test
  dependencies:
  - build-job
  script:
  - apt-get update -y && apt install -y make cmake g++ lcov libboost-all-dev libgtest-dev curl llvm-17 clang-17
  - curl -1sLf 'https://dl.cloudsmith.io/public/mull-project/mull-stable/setup.deb.sh' | bash
  - apt-get update -y && apt install -y mull-17
  ...

task4-test:
  stage: test
  dependencies:
  - build-job
  script:
  - apt-get update -y && apt install -y make cmake g++ lcov git
  - git submodule update --init --recursive
  - cd seed-generator
  - make test
  coverage: '/lines......: (\d+\.?\d*%)/'
  artifacts:
    paths:
    - seed-generator/coverage.txt

task1-benchmark:
  stage: test
  dependencies:
  - build-job
  script:
  - apt-get update -y && apt install -y make cmake g++
  - cd code-coverage
  - make benchmark

task1-grade:
  image:
    name: pierredb/ni-apt-grader:latest
    pull_policy: always
  stage: test
  script:
  - apt-get update -y && apt install -y make cmake g++ lcov git
  - git submodule update --init --recursive
  - export PROJECT_DIR=$PWD
  - cd /grader
  - ./grade --task 1 $PROJECT_DIR/code-coverage

task2-grade:
  image:
    name: pierredb/ni-apt-grader:latest
    pull_policy: always
  stage: test
  script:
  - export PROJECT_DIR=$PWD
  - export FUZZER=blackbox
  - cd /grader
  - ./grade --task 2 $PROJECT_DIR/fuzzer

task3-grade:
  image:
    name: pierredb/ni-apt-grader:latest
    pull_policy: always
  stage: test
  script:
  - export PROJECT_DIR=$PWD
  - export FUZZER=greybox
  - cd /grader
  - ./grade --task 3 $PROJECT_DIR/fuzzer

task4-grade:
  image:
    name: pierredb/ni-apt-grader:latest
    pull_policy: always
  stage: test
  script:
  - export PROJECT_DIR=$PWD
  - export FUZZER=best
  - cd /grader
  - ./grade --task 4 $PROJECT_DIR/fuzzer

LTO
  fuzzer/CMakeLists.txt
  seed-generator/CMakeLists.txt
Due: task2-3-test, task4-test, task2-grade, task3-grade, task4-grade

readme
  fuzzer/README-task4.md
Due: task2-3-test, task2-grade, task3-grade, task4-grade

ci
  .gitlab-ci.yml
Due: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

ci
  seed-generator/Makefile
Due: task4-test, task4-grade

fixed out of ascii mutations
  fuzzer/fuzzer.h
Due: task2-3-test, task2-grade, task3-grade, task4-grade

Property tests
  .gitmodules
  README.md
  fuzzer/CMakeLists.txt
  fuzzer/README-task4.md
  fuzzer/fuzzer.h
  fuzzer/tests-property.cpp
  fuzzer/tests-unit.cpp
Due: task2-3-test, task2-grade, task3-grade, task4-grade

restructured
  .gitlab-ci.yml
  .gitmodules
  code-coverage/CMakeLists.txt
  fuzzer/CMakeLists.txt
  seed-generator/CMakeLists.txt
  seed-generator/Makefile
  seed-generator/symbol-identifiers.h
Due: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

fixed ci
  .gitlab-ci.yml
  fuzzer/Makefile
Due: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

Killing mutants
  fuzzer/README-task3.md
  fuzzer/README-task4.md
  fuzzer/fuzzer.h
Due: task2-3-test, task2-grade, task3-grade, task4-grade

html
  code-coverage/html/coverage_report/code-coverage/FileInstrument.h.func-sort-c.html
  code-coverage/html/coverage_report/code-coverage/FileInstrument.h.func.html
  code-coverage/html/coverage_report/code-coverage/FileInstrument.h.gcov.html
  code-coverage/html/coverage_report/code-coverage/index-sort-f.html
  code-coverage/html/coverage_report/code-coverage/index-sort-l.html
  code-coverage/html/coverage_report/code-coverage/index.html
  code-coverage/html/coverage_report/index-sort-f.html
  code-coverage/html/coverage_report/index-sort-l.html
  code-coverage/html/coverage_report/index.html
  fuzzer/README.md
  fuzzer/html/coverage_report/fuzzer/fuzzer.h.func-sort-c.html
  fuzzer/html/coverage_report/fuzzer/fuzzer.h.func.html
  fuzzer/html/coverage_report/fuzzer/fuzzer.h.gcov.html
  fuzzer/html/coverage_report/fuzzer/index-sort-f.html
  fuzzer/html/coverage_report/fuzzer/index-sort-l.html
  fuzzer/html/coverage_report/fuzzer/index.html
  fuzzer/html/coverage_report/index-sort-f.html
  fuzzer/html/coverage_report/index-sort-l.html
  fuzzer/html/coverage_report/index.html
  seed-generator/html/coverage_report/index-sort-f.html
  seed-generator/html/coverage_report/index-sort-l.html
  seed-generator/html/coverage_report/index.html
  seed-generator/html/coverage_report/seed-generator/index-sort-f.html
  seed-generator/html/coverage_report/seed-generator/index-sort-l.html
  seed-generator/html/coverage_report/seed-generator/index.html
  seed-generator/html/coverage_report/seed-generator/seed-generator.h.func-sort-c.html
  seed-generator/html/coverage_report/seed-generator/seed-generator.h.func.html
  seed-generator/html/coverage_report/seed-generator/seed-generator.h.gcov.html
Due: task2-3-test, task2-grade, task3-grade, task4-grade

percentages
  .gitlab-ci.yml
  code-coverage/Makefile
  fuzzer/Makefile
  seed-generator/Makefile
Due: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

phony rules
  code-coverage/Makefile
  fuzzer/Makefile
  seed-generator/Makefile
Due: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

Decreased chance of generating random inputs for best fuzzer
  fuzzer/Makefile
Due: task2-3-test, task2-grade, task3-grade, task4-grade

Killing some more mutants
  fuzzer/tests-unit.cpp
Due: task2-3-test, task2-grade, task3-grade, task4-grade

removed recipe dependencies
  code-coverage/Makefile
  fuzzer/Makefile
  seed-generator/Makefile
Due: task1-test, task2-3-test, task4-test, task1-benchmark, task1-grade, task2-grade, task3-grade, task4-grade

tweaked parameter
  fuzzer/Makefile
Due: task2-3-test, task2-grade, task3-grade, task4-grade

Unlimited search time
  fuzzer/Makefile
Due: task2-3-test, task2-grade, task3-grade, task4-grade

Update README.md
  README.md
Due: none

Path conditions:
  task1-test: any of: code-coverage/*, .gitlab-ci.yml
  task2-3-test: any of: fuzzer/*, .gitlab-ci.yml
  task4-test: any of: seed-generator/*, .gitlab-ci.yml
  task1-benchmark: any of: code-coverage/*, .gitlab-ci.yml
  task1-grade: any of: code-coverage/*, .gitlab-ci.yml
  task2-grade: any of: fuzzer/*, .gitlab-ci.yml
  task3-grade: any of: code-coverage/*, fuzzer/*, .gitlab-ci.yml
  task4-grade: any of: code-coverage/*, fuzzer/*, seed-generator/*, .gitlab-ci.yml
